<div class="container" id="home-container">
  <div class="p-5 mb-4 rounded-3 text-center text-white" id="jumbotron">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">ShopNow</h1>
      <p class="fs-4">
        ShopNow è il tuo punto di riferimento per acquisti veloci e sicuri! Scopri un'ampia selezione di prodotti di alta qualità, con offerte esclusive e spedizioni rapide. Da noi, lo shopping è semplice e conveniente. Acquista ora su ShopNow!
      </p>
      <%= link_to "Registrati!", signup_path, class: "btn btn-success btn-lg shadow-lg" %>
    </div>
  </div>
</div>