<h1 class="text-center mt-4">Crea una nuova categoria</h1>
<div class="container">
  <%= render "shared/errors", obj: @category %>
  <div class="row spazio-sopra justify-content-center shadow p-3 mb-3 bg-warning rounded">
    <div class="col-10">
      <%= render "form" %>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <%= link_to '[ Torna alle categorie ]', categories_path, class: "link-personalizzato" %>
    </div>
  </div>
</div>
