<footer class="footer">
  <div class="container text-center">
    <span class="text-white">
      Copyright &copy; <%= link_to "Repository di Luca", "https://github.com/Lucasc12345/corso_rails-", class: "text-white link-personalizzato" %>
    </span>
  </div>
</footer>